.cashBackPage{
  height: 50vh;
  height: 50svh;
  margin-top: 2rem;
  text-align: -webkit-center;
}







.toggle-container {
  display: flex;
  width: 90%;
  border: 0.5px solid #000000; /* outer border */
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.toggle-option {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: #000000;
  transition: all 0.3s ease; /* smoother */
  border-radius: 50px;
}

.toggle-option.active {
  background: #F4858E;
  color: #000000;
  border: 2px solid #EC008C; 
  box-shadow: 0 0 0 2px #fff inset;
}

