.headerPage {
  background-color: #fff9f2;
  position: relative;
  width: 100%;
  font-family: inherit;
}
.nissinIcons {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto 1fr; // stripes | icon | stripes
  align-items: center;
  gap: 1rem; // space between columns
  width: 100%;
}

.stripSection {
  display: flex;
  justify-content: center;
}

.iconSection {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0.245rem;
  img {
    position: relative;
    width: auto;
  }
}
.cupNoodleIcon {
  position: relative;
  margin: 0.3rem;
}

@media (max-width: 768px) {
  .headerPage {
    background-color: #fff9f2;
    position: relative;
    width: 100%;
  }
  .nissinIcons {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto 1fr; // stripes | icon | stripes
    align-items: center;
    gap: 1rem; // space between columns
    width: 100%;
  }

  .stripSection {
    display: flex;
    justify-content: center;
  }

  .iconSection {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0.245rem;
    img {
      position: relative;
      width: auto;
    }
  }
  .cupNoodleIcon {
    position: relative;
    margin: 0.3rem;
    // img {
    //   margin-bottom: 0.5rem;
    // }
  }
}
