.contact-container {
  max-width: 430px !important;

  position: relative;
  z-index: 1;
  padding: 20px;
  background: transparent;
  height: 100vh;
  overflow-x: hidden;

}

.back-arrow {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2.5rem;
  color: #ED1C24;
  cursor: pointer;
}

.title {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 3rem;
  color:#ED1C24;
}

.contact-info {
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  text-align: start;
}

.contact-info ol {
  padding-left: 1.2rem;
}

.roman {
  list-style-type: upper-roman;
  padding-left: 2rem;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.roman li {
  margin-bottom: 0.75rem;
}

.roman ol {
  list-style-type: lower-roman;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

@media (max-width: 768px) {
}
