.ThankyouPage{
    position: relative;
margin-top: 5rem;
        text-align: -webkit-center;
        height: 45vh;
        height: 45svh;

}

.heading{
    position: relative;
   
        color:#ED1C24;
        font-size: 1.5rem;

}



.thankYouMessage {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 8px; /* space between checkbox and text */
  font-size: 1rem; /* adjust as you like */
}

.thankYouCheckbox {
  width: 18px !important;
  height: 18px;
  accent-color: green; /* ✅ green tick */
  cursor: default;
  box-shadow: none;
}


.claimCashback{
    color: #000000;
     font-size: 1.2rem;
     max-width: 250px; 
  line-height: 1.5; 
  word-break: break-word; 
}
.buttonSection{
    position: relative;
   margin-top: 3rem;
}

