.CycPage {
  position: relative;
  margin-top: 2rem;
  //text-align: -webkit-center;
  // height: 45vh;
  // height: 45svh;

  padding: 0.5rem;
  // overflow-y: auto !important;
}

.heading {
  position: relative;
  h4 {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
}

.claim_Cashback_text {
  color: #000000;
  font-size: 1.2rem;

  // line-height: 1.5;
  // word-break: break-word;
}
.buttonSection {
  position: relative;
  // margin-top: 3rem;
  // margin-bottom: 1rem;
}

.cashbackHighlight {
  color: #ed1c24;
}

.poweredBy {
  position: relative;
  display: flex;

  justify-content: end;
  padding-right: 0.5rem;
  span {
    color: #252525;
    font-family: Inter;
  }
}
