.menuSection {
  position: relative;
  // height: 70svh;
  background-color: #fff9f2;
}

.myMenu {
  position: relative;
  background-color: #231F20;;
}

.menuHeader {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2rem;
}
.menuCycHeader {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2.5rem;
}

.menuSubHeader {
  background-color: #fff9f2;
  width: 100%;
}


