.footerPage {
  position: relative;
  background-color: #000000;
  margin-top: 0.5rem;
  font-family: inherit;
}
.footerSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem;
}

// .CEimage img {
//   width: 70%; /* adjust as needed */
//   height: auto;
// }

.Voterimage {
  position: relative;
  bottom: 0.6rem;
  width: 100%;
  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    // display: block;
  }
}
.progressWrapper {
  display: flex;
  flex-direction: column; /* stack progress bar & votes */
  flex: 1; /* take full remaining width */
}

.progressBar {
  width: 100%;
}

.voteCount {
  font-size: 16px;
  color: #fff;
  margin-top: 4px;
  text-align: justify;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ed1c24;
  margin-bottom: 0px !important;
}

.footerMenu {
  position: relative;
  background-color: #ed1c24;
}

.footerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  text-decoration-style: solid;
}

.term span {
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-family: inherit;
  position: relative;
  z-index: 999;
}

// start //

@media (max-width: 768px) {
  .footerSection {
    gap: 0.75rem;
    padding: 0.89rem 0.89rem 0.3rem 0.89rem;
  }
}

// end //
