.footerSectionMain {
  position: relative;

  width: 100%;
 
}

.footerBg {
  position: relative;
  margin-top: 0.2rem;
  font-family: inherit;
  width: 100%;
  background-color: #231f20; // fallback color
  background-image: url("../../assets/bg_section.png"); // path to your image
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; // scales image 
}
.footerSection {
  position: relative;
  display: flex;
  align-items: center;
 justify-content: space-between;
 padding: 0.5rem .5rem 0rem .5rem;
}

.progressBarSection{
  position: relative;
  padding: 0rem .5rem .5rem .5rem;
}




.footerMenu {
    position: relative;
  background-color: #ed1c24;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
  padding: 0.2rem;
}

.term span {
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  // text-decoration: underline;
  //   text-decoration-color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-family: inherit;
  position: relative;
  z-index: 50;
}

// start //

// end //
