.registerform {
  position: relative;
  margin-top: 3.5rem;
  font-family: inherit;
}
.error {
  color: #da251d !important;
  font-size: 0.786rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  position: relative;
  margin: 0px;
  top: 0.2rem;
  letter-spacing: 0.03rem;
}

.inputGroup {
 padding-bottom: 10px;
 
}
form {
  text-align: -webkit-center;
}

input,
select {
  width: 85% !important;
  font-size: 1rem !important;
  color: #000000 !important;
  background: #fff !important;
  border: 1px solid black !important;
  text-align: center;
  // box-shadow: 0 4px 4px #0000001f inset;
  line-height: 1.5rem;
  font-weight: 700;
  font-family: inherit;
    border-radius: 50px !important;
    // line-height: 1.5rem;
    font-weight: 700;
  option {
    color: #000000 !important;
  }
}
input::placeholder {
    text-align: center !important;
    color: #000000 !important;
  }


.buttonSection {
  position: relative;
  margin-top: 1.4em;
  margin-bottom: 0px;
}


.arrowImg {
  position: absolute;
  right: 3rem;
  padding-top: 1rem;
}
.questionImg {
  position: absolute;
  right: 2.44rem;
  padding-top: 0.37rem;
  z-index: 10;
}

.uniqueInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem; // space between the two images
}

.uniqueFindImg img {
  width: 10em; // adjust as needed
  height: auto;
}

.codeBox {
  position: relative;
  display: inline-block;

  img {
    width: 4em; // adjust to match desired size
    height: auto;
    display: block;
  }

  .codeText {
    position: absolute;
    top: 35%;  // vertically centered
    left: 54%; // horizontally centered
    transform: translate(-50%, -50%);
    font-size: .486rem;
    font-weight: bold;
    color: #000; // adjust for contrast
    text-align: center;
    white-space: nowrap;
  }
}
.messageSection {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.message {
  position: absolute;
  color: #ed1c24;
  font-size: .786rem;
  top: 0.5rem;
  letter-spacing: .03rem;    
}


