.registerform {
  position: relative;
  // height: 50vh;
  // height: 50svh;
  margin-top: 3.5rem;
  // overflow-y: auto !important;
  font-family: inherit;
}
.error {
  color: #da251d !important;
  font-size: 0.786rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  position: relative;
  margin: 0px;
  top: 0.2rem;
  letter-spacing: 0.03rem;
}

.inputGroup {
 padding-bottom: 10px;
 
}
form {
  text-align: -webkit-center;
}

input,
select {
  width: 85% !important;
  font-size: 1rem !important;
  color: #000000 !important;
  background: #fff !important;
  border: 1px solid black !important;
  text-align: center;
  box-shadow: 0 4px 4px #0000001f inset;
  line-height: 1.5rem;
  font-weight: 700;
  font-family: inherit;
    border-radius: 50px !important;
    // line-height: 1.5rem;
    font-weight: 700;
  option {
    color: #000000 !important;
  }
}
input::placeholder {
    text-align: center !important;
    color: #000000 !important;
  }


.buttonSection {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}


.arrowImg {
  position: absolute;
  right: 3rem;
  padding-top: 1rem;
}
.questionImg {
  position: absolute;
  right: 2.33rem;
  padding-top: 0.37rem;
  z-index: 10;
}

