#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  text-align: center;
  max-width: 430px;
}

.vote-btn {
  width: auto;
  height: 3.5rem;
  background: #560000; /* brown background */
  color: #ffd700; /* yellow text */
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  padding: 15px 50px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;

  //  clip-path: polygon(98% 100%, 100% 6%, 10% 14%, 0 90%);
  clip-path: polygon(12% 21%, 93% 0, 100% 88%, 0 81%);
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

/* Shadow */
.vote-btn::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100%;
  height: 100%;
  background: #7b2800; /* darker shadow */
  z-index: -1;

  //  clip-path: polygon(98% 100%, 100% 6%, 10% 14%, 0 90%);
  clip-path: polygon(12% 21%, 93% 0, 100% 88%, 0 81%);
}

/* Hover */
.vote-btn:hover {
  background: #7b2800;
  transform: translateY(-2px);
}

/* Pressed */
.vote-btn:active {
  transform: translateY(2px);
}
